<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>	
		<add key="clientId" value= "4d592024-82e1-4eeb-b067-753fbcda8577"/>
		<add key="clientSecret" value = "pnC8Q~sAOx4D7O3fOm-aln6UO0dAXndc9gx6QdAz"/>
		<add key="tenantId" value = "3215374b-193f-44ca-aa45-6b25df64043e"/>
		<add key="graphApiUrl" value= "https://graph.microsoft.com/v1.0"/>
		<add key="user" value= "wagner.jaco@toolsort.com.br"/>
		<add key="torecipient" value="wagner.jaco@sigma4.com.br"/>
		<add key="ccrecipient" value="wagnerjaco@gmail.com"/>
		</appSettings>
</configuration>