<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>	
		<add key="clientId" value= ""/>
		<add key="clientSecret" value = ""/>
		<add key="tenantId" value = ""/>
		<add key="graphApiUrl" value= "https://graph.microsoft.com/v1.0"/>
		<add key="user" value= ""/>
		<add key="torecipient" value=""/>
		<add key="ccrecipient" value=""/>
		</appSettings>
</configuration>
